.box-wrapper{
    position: relative;
    background: $primary-color;
    padding:1em;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(medium){
        padding:2em;
        margin-top: 10em;
    }
}

.box{
  
    background: $primary-color;
 
   
    .box__title{
    }

    .box__subtitle{
        color: $white;
    }

    .box__button{
        display: block;
        color: $primary-color;
        background: $white;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;

        @include breakpoint(medium){
         display: inline-block;
         width: 30%;
        }
    }

}