.button {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background: $white;
    border: 3px solid $main-color;
    color: $main-color;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background: $main-color !important;
        color: $white !important;
        @include prefix(transition, background, webkit ms o moz);
    }
}

.button-sm {
    width: 100%;
    padding: 20px;   
    margin-top: 1em;
    background: $main-color;
    font-size: 15px;
    color: $white;
    cursor: pointer;

    @include breakpoint(medium) {
        width: 20%;
        margin-top: 0;
        padding: 16px;
    }
}

.button-head{
    width: 100%;
    margin-top: 1em;
    padding: 10px 20px;
    border: 3px solid #555555;
    background: $white;
    font-size: 15px;
    color: #555555;
    cursor: pointer;
    
    @include breakpoint(medium) {
        width: 20%;
        margin-top: 0;
        padding: 10px 20px;
    }
}