h1{
    color: $white;
    font-weight: 600;
    
}

ul{
    margin-left: 0;
    li{
        list-style-type: none;
        a{
            color: $white;
            text-decoration: none;
            a:hover{
                opacity: 0.8;
                color: $white;
            }
            &:visited{
                opacity: 0.8;
                color: $white;
            }
            &:focus{
                opacity: 0.8;
                color: $white;
            }
        }
    }
}