.contact-info {
    background: #eee;
    .contact-info__title {
        h2 {
            color: $main-color;
            font-weight: 600;
            font-size: 38px;
        }
    }
    .contact-info__subtitle {
        p {
            color: #828282;
        }
    }
    .contact-info__list {
        padding-left: 2em;
        padding-right: 2em;
        @include breakpoint(medium) {
            padding-left: 5em;
            padding-right: 5em;
            padding-top: 2em;
            padding-bottom: 2em;
        }
        ul {
            margin-bottom: 0;
            li {
                margin-bottom: 1em;
                a {
                    color: #828282;
                }
                .fa {
                    color: #027c93;
                    font-size: 30px;
                    position: relative;
                }
                .fa-envelope {
                    top: 5px;
                    right: 15px
                }
                .fa-phone {
                    top: 0;
                    right: 15px
                }
                .fa-map-marker {
                    top: 0;
                    right: 15px
                }
            }
        }
    }
    .contact-info__caption {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0;
        .contact-info__caption-title {
            color: #207c88;
            font-size: 22px;
            margin-bottom: 0;
        }
    }
    .contact-info__social-list {
        padding-left: 2em;
        padding-right: 2em;
        ul {
            li {
                display: inline;
                padding-right: 0.5em;
                a {
                    font-size: 30px;
                }
                .fa {
                    color: #0899b8;
                }
            }
        }
    }
}

.contact-form {
    .contact-form__title {
        color: #565656;
    }
    .contact-form__form {
        padding: 0;
        @include breakpoint(medium) {
            padding-left: 2em;
            padding-top: 2em;
            padding-right: 2em;
        }
        input {
            border-color: #7d7d7d;
            padding-top: 2em;
            padding-bottom: 2em;
            padding-left: 1em;
            padding-right: 2em;
            @include placeholder {
                color: #7d7d7d;
                font-weight: 300;
                font-size: 17px;
            }
        }
        textarea {
            resize: none;
            border-color: #7d7d7d;
            padding-left: 1em;
            @include placeholder {
                color: #7d7d7d;
                font-weight: 300;
                font-size: 17px;
            }
        }
        button {
            padding: 1em;
            display: block;
            width: 100%;
            font-size: 20px;
            font-weight: 600;
            color: #FFF;
            background: #207c89;
            cursor: pointer;
        }
    }
}