.footer{
    background: $tertiary-color;
    text-align: center;
    
    @include breakpoint(medium){
        text-align: left;
    }
    .footer__social{

        .footer__social-logo{
            width: 50%;
        }

        ul{
            margin-top: 20px;

            li{
                display: inline !important;
                padding-left: 1em;

                &:first-child{
                    padding-left: 0;
                }

                .fa{
                    font-size: 2em;
                }
            }
        }

        .footer__social-info{

            span{
                display: block;
                color: $white;
            }

            .fa{
                font-size: 1.5em;
                color: #027c93;
            }
        }

        .footer__social-newsletter{

            input{
                padding: 13px;
                background-color: transparent;
                border: none;
                color: $white;
                border: 2px solid $white;
                width: 100%;

                @include breakpoint(medium){
                    width: 80%;
                    margin: 0;
                }
            }

            button{
                color: $white;
                padding: 20px;
                width: 100%;
                margin-top: 1em;

                @include breakpoint(medium){
                    width: 20%;
                    margin-top: 0;
                    padding: 16px;
                }

                a{
                    color: $white;
                }
            }
        }
    }

    .footer__copyright{
        color: $white;
        @include breakpoint(medium){
            text-align: left;
        }
    }
}