.header-mast {
    padding-top: 1em;
    padding-bottom: 1em;
    @include breakpoint(medium) {
        padding-top: 0;
        padding-bottom: 0;
    }
    .header-mast__logo-holder {
        .header-mast__logo-holder__logo {
            padding-bottom: 1em;
            width: 55%;
            @include breakpoint(medium) {
                width: 100%;
            }
        }
    }
}

.header-secondary {

    .header-secondary__logo {
        width: 55%;
        padding-bottom: 1em;
    
    }

    .nav {
        .menu-item-has-children {
            position: relative;
            .sub-menu {
                background-color: $main-color;
                display: none;
                position: absolute;
                margin: 0;
                width: auto;
                a {
                    white-space: nowrap;
                }
            }
            
            &:hover{
    
                > .sub-menu{
                    display: block;
                }
            }
    
        }
        > .menu-item-has-children{
    
            > .sub-menu{
                
                top: 100%;
    
                >.menu-item-has-children {
                    
                    &:hover {
                        .sub-menu {
                            left: 100%;
                            top: 0;
                        }
                    }
                    
                }
    
            }
        }
    }
}